<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <title>24 Hours</title>
  <meta name="og:title" content="Just another day at UCLA | Daily Bruin">
  <meta name="description" content="Some students get up at 5 a.m. to hit the gym, while others have already been awake, spending yet another sleepless night in Powell Library. Most people occupy themselves with habitual routines and schedules, but don’t stop to think about the hours in the day. On Jan. 18, 15 photographers set out to capture the people who make up a typical day at UCLA.">
  <meta name="og:image" content="img/E.web.2AM3AM.PicA.AL.jpg">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
  <link href="https://fonts.googleapis.com/css?family=Anton|Karla:400,700|Lora|Overpass+Mono:700" rel="stylesheet">  
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/fullpage.css">
  {# <link rel="stylesheet" href="css/onepagescroll.css"> #}
</head>
