{% extends "./nunjucks/templates/default.njk" %}

{% block content %}
  <div id="shadow-overlay">
  
  </div>
  <div id="time-caption-wrapper">
    <div id="time"></div>
    <div id="caption-read-more">
      READ MORE
    </div>
    <div id="caption">
    
    </div>
  </div>
  <div id="fullpage">
    {% for photo in data %}
    <div class="photo-container" id="{{ photo.id + 'id'}}" data-anchor="{{ photo.id }}" data-time="{{ photo.time }}" data-indicator="{{ photo.indicator }}" data-caption="{{ photo.caption }}">
      <div class="photo">
        <img src="{{ 'img/' + photo.filename + '.jpg' }}">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="sidebar">
    <div class="title-container">
      24 Hours at UCLA
    </div>
    <ul id="sidebar-links">
      {% for photo in data %}
        <li data-menuanchor="{{photo.id}}"><a href="#{{photo.id}}">{{photo.time}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
