h1 {
    font-size: 3rem;
    font-family: 'Overpass Mono', sans-serif;
}

.title-page {
    padding: 40px;
    height: auto !important;
}

.title-page a {
    color: black;
}

.title-page p {
    top:50%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    max-width: 500px;
}

.photo-container {
    height: 100% !important;
    width: calc(100vw - 65px);
    margin-left: 65px;
    background-color: white;
}

.active {
    font-weight: 700;
}

.title-container {
    opacity: 0;
    transition-delay: 0.3s;
    transition: opacity 0.3s ease;
}

.icons img {
    width: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass Mono', sans-serif;
}

#shadow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.icons a {
    color: black;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:65px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s ease;
    z-index: 5;
    -webkit-box-shadow: 2px 0px 11px 3px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 0px 11px 3px rgba(0,0,0,0.12);
    box-shadow: 2px 0px 11px 3px rgba(0,0,0,0.12);
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    object-fit: contain
}

img {
    max-height: 100%;
    max-width: 100%;
}

#sidebar:hover {
    width: 150px;

    .title-container {
        opacity: 1;
    }

    ~ #shadow-overlay {
        background-color: black;
        opacity: 0.65 !important;
        z-index: 3 !important;
    }
}

#sidebar:hover span {
    display: block;
    opacity: 1;
    font-size: 1rem;
}

.icons span{
    opacity: 0;
    font-size: 0px;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

#time-caption-wrapper {
   position: absolute;
   z-index:4;
   top: 50%;
   left: calc(65px + 10%);
   width: auto;
   max-width: 600px;
   transition: top 0.3s ease;
}

#caption {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Karla', serif;
    font-weight: 400;
}

#time {
    color: white;
    font-size: 3rem;
    font-family: 'Overpass Mono', sans-serif;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
    transition: opacity 0.3s ease;
    opacity: 1;
}

#time:hover{
    opacity: 0.1 !important;

    ~ #caption-read-more {
        opacity: 0.1;
    }
}

#indicator {
    color: white;
    font-size: 1rem;
    font-family: 'Overpass Mono', sans-serif;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

#caption-read-more {
    cursor: pointer;
    line-height: 1;
    color: white;
    transition: color 0.3s ease, height color 0.3s ease;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

#caption-read-more:hover {
    cursor: pointer;
    color: gold;
}


@media only screen and (max-width : 768px) {
    #time {
        font-size: 1.5rem;
    }
    #time-caption-wrapper {
        top: 85%;
        right: 50%;
    }
}